<h3>hello world!!</h3>
<button class="btn btn-danger" (click)="getUsers()">Get Users</button>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Gender</th>
            <th>Name</th>
            <th>Email</th>
            <th>Picture</th>
        </tr>
    </thead>
    <tbody>
        <!-- <tr *ngFor="let user of data | paginate:{id: 'listing_pagination',
        itemsPerPage:10,
        currentPage: page,
        totalItems:totalRecords}"> -->
        <tr *ngFor="let user of data | paginate: { itemsPerPage: 10, currentPage: page, totalItems: totalRecords }">

        <td>{{user.gender}}</td>
        <td>{{user.name.first}}</td>
        <td>{{user.email}}</td>
        <td>
            <img src="{{user.picture.medium}}" alt="">
        </td>
            
        </tr>
    </tbody>
</table>
<div>
<pagination-controls (pageChange)="page = $event" id='listing_pagination' ></pagination-controls>
</div>
<router-outlet></router-outlet>
